@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eloquia-display: var(--font-eloquia-display);
  --font-eloquia-text: var(--font-eloquia-text);
  --color-theme-blue-100: #40bbff;
  --color-theme-blue-300: #0096fe;
  --color-theme-blue-500: #006efe;
  --color-theme-blue-700: #0036fd;
  --color-theme-blue-900: #011cbf;
  --color-theme-gray-500: #ececec;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-header {
  font-family: var(--font-eloquia-display);
  font-weight: 600;
  font-size: 2rem; /* text-3xl */
  line-height: 2rem;

  @media (min-width: 767px) {
    font-size: 2.5rem; /* xl:text-4xl */
    line-height: 2.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.25rem; /* xl:text-4xl */
    line-height: 2.25rem;
  }

  @media (min-width: 1536px) {
    font-size: 3rem; /* 2xl:text-5xl */
    line-height: 2.8rem; /* leading-tight */
  }
}

@utility text-content {
  font-size: 1rem; /* text-base */
  line-height: 1.2; /* leading-tight */

  @media (min-width: 1024px) {
    font-size: 0.875rem; /* lg:text-sm */
  }

  @media (min-width: 1280px) {
    font-size: 1rem; /* xl:text-base */
  }

  @media (min-width: 1536px) {
    font-size: 1.125rem; /* 2xl:text-lg */
  }
}
