@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eloquia-display: var(--font-eloquia-display);
  --font-eloquia-text: var(--font-eloquia-text);
  --color-theme-blue-100: #40bbff;
  --color-theme-blue-300: #0096fe;
  --color-theme-blue-500: #006efe;
  --color-theme-blue-700: #0036fd;
  --color-theme-blue-900: #011cbf;
  --color-theme-gray-500: #ececec;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
